.wrapper {
  background-color: #f2f2f2;
}

body {
  font-family: 'Lato';
}

/* 共通クラス */
/* inner config */
.inner {
  max-width: 1100px;
  margin: 0 auto;
}

/* フォームボックス */
.form_box {
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
}

/* ヘッダー */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  /* imgが固定ヘッダーの上にこないように設定 */
  z-index: 10;
  padding: 15px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #7e7d7d;
  font-size: 40px;
}

.contact_link {
  color: #fff;
  text-decoration: none;
}

.contact_link:hover {
  transition: 0.3s;
  color: #333;
}

/* ハンバーガーメニュー */
.hamburger {
  display: none;
}

/* メインテーマ */
.main__theme_inner {
  padding: 320px 0 250px 0;
}

.main__theme_textbox {
  text-align: center;
}

.bolt-theme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.bolt-subtheme {
  font-family: 'Raleway';
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* メインセクション */
.main__section {
  background-color: #74cfae;
  padding-top: 50px;
  text-align: center;
}

.main__section_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__section_textbox {
  font-family: 'Raleway';
  width: 750px;
  color: #fff;
}

.section-title {
  font-size: 24px;
}

.section-text {
  font-size: 20px;
  line-height: 1.5em;
  overflow-wrap: break-word;
  margin-top: 35px;
}

/* OUR LATEST WORKS */
.main__section__works {
  padding: 60px 0 70px 0;
}

.section__works_title {
  font-family: 'Raleway';
  text-align: center;
  font-size: 24px;
}

/* clearfix */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.works-images {
  margin-top: 40px;
}

.img_link {
  /* 高さを付与させるためにインライン要素をブロック要素に変更 */
  display: block;
  float: left;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.work_img {
  display: block;
  /* 画像の下にできる隙間を解消させる */
  vertical-align: bottom;
}

/* ホバー時は0.3秒で不透明にする */
.img_link:hover {
  opacity: 1;
  transition: 0.3s;
}

/* 最初の３つの要素 */
.img_link:nth-child(-n + 3) {
  margin-bottom: 80px;
}

/* 2番目と5番目の要素 */
.img_link:nth-child(3n + 2) {
  margin: 0 100px;
}

/* メールフォーム */
.email-form-inner {
  display: flex;
  margin: 90px auto 0 auto;
  width: 730px;
}

.email-form_text_box {
  text-align: center;
  overflow-wrap: break-word;
}

.email-form_text {
  font-family: 'Raleway';
  line-height: 1.5em;
}

.email-form_button {
  margin-left: 90px;
}

.button_text {
  display: inline-block;
  /* ソース中の改行を1つの半角スペースとして表示 */
  white-space: nowrap;
}

/* ホバー時に0.3秒でcolorを#333 */
.button_text:hover {
  transition: 0.3s;
  color: #333;
}

/* OUR SKILLS */
.main__section_skills {
  padding: 70px 0 100px 0;
  background-color: #4e4e4e;
}

.main__section_skills-inner {
  text-align: center;
}

.skills-title {
  font-family: 'Raleway';
  color: #fff;
  font-size: 24px;
}

.skills {
  margin-top: 70px;
}

.skill-box {
  display: inline-block;
  margin-right: 180px;
}

.skill-box:last-child {
  margin-right: 0;
}

.skill-text {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

/* SNS */
.main__section_sns {
  padding: 200px 0;
}

.main_sns {
  text-align: center;
  font-size: 0;
}

.sns-box {
  padding: 30px 80px;
  font-size: 40px;
  color: #74cfae;
  margin: 0 auto;
}

.sns-link {
  display: inline-block;
  transition: background-color 0.3s linear;
}

.sns-link:hover {
  background-color: #fff;
  transition: background-color 0.3s linear;
}

/* footer */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.copyright {
  color: #fff;
  text-align: right;
}

/* レスポンシブデザイン（TAB） */
@media screen and (max-width: 1199px) {
  .inner {
    max-width: 97%;
  }

  /* ヘッダー */
  .header-inner {
    margin: 0 25px;
  }

  /* メインテーマ */
  .main__theme {
    white-space: nowrap;
  }

  /* メインセクション */
  .main__section {
    padding: 50px 0 25px 0;
  }

  .main__section_inner {
    display: block;
  }

  .main__section_img {
    margin-bottom: 20px;
  }

  .main__section_textbox {
    margin: 0 auto;
  }

  /* OUR LATEST WORK */
  .works-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img_link:nth-child(-n + 3) {
    margin-bottom: 0;
  }

  .img_link:nth-child(3n) {
    margin-bottom: 80px;
  }

  /* メールフォーム */
  .email-form-inner {
    width: 100%;
    display: block;
    margin-top: 0;
    height: auto;
  }

  .email-form_textbox {
    margin-right: 0;
    padding-bottom: 40px;
  }

  .email-form_button {
    text-align: center;
    margin: 40px 0 70px 0;
  }

  /* OUR SKILLS */
  .skill-box {
    display: block;
    margin: 0 0 88px 0;
  }

  .skill-box:last-child {
    margin-bottom: 0;
  }
}

/* レスポンシブ （SP） */
@media screen and (max-width: 767px) {
  .inner {
    max-width: 97%;
  }

  /* ヘッダー */
  .header-inner {
    margin: 0 15px;
  }

  .bolt__contactBox {
    display: none;
  }

  .logo {
    font-size: 50px;
  }
  /* ハンバーガーメニュー  */
  .hamburger {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #c0c0c0;
  }

  .hamburger_icon {
    font-size: 25px;
  }

  /* メインテーマ */
  .main__theme {
    padding: 240px 0 130px 0;
  }

  .bolt-theme {
    font-size: 80px;
  }

  .bolt-subtheme {
    overflow-wrap: break-word;
  }

  /* メールフォーム */
  .form_box {
    font-size: 20px;
    padding: 20px 40px;
  }
  /* WHAT WE CAN DO */
  .main__section_textbox {
    width: auto;
  }

  /* SNS */
  .main__section_sns_inner {
    padding: 50px 0;
  }

  .sns-link {
    display: block;
    margin: 0 15px;
  }

  .sns-link:hover {
    background-color: #fff;
  }
}
