@charset "UTF-8";

.wrapper {
  background-color: #f2f2f2;
}

body {
  font-family: 'Lato';
}

a {
  display: inline-block;
}

li {
  display: inline-block
}

/* 共通クラス */
/* inner config */
.inner {
  width: 1100px;
  margin: 0 auto;
}

/* フォームボックス */
.form_box {
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
}

.is-raleway {
  font-family: 'Raleway';
}

/* ヘッダー */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* imgが固定ヘッダーの上にこないように設定 */
  z-index: 100;
  padding: 15px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #7e7d7d;
  font-size: 40px;
}

.contact_link {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.contact_link:hover {
  color: #333;
}

/* ハンバーガーメニュー */
.hamburger {
  display: none;
}

/* メインテーマ */
.main {
  padding-top: 70px;
}

.main__theme {
  padding: 250px 0 250px 0;
}

.main__theme_textbox {
  text-align: center;
}

.bolt-theme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.bolt-subtheme {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* メインセクション */
.main__section {
  background-color: #74cfae;
  padding-top: 50px;
  text-align: center;
}

.main__section_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__section_textbox {
  width: 750px;
  color: #fff;
}

.section_img {
  vertical-align: top;
}

.section-title {
  font-size: 24px;
}

.section-text {
  font-size: 20px;
  line-height: 1.5em;
  overflow-wrap: break-word;
  margin-top: 35px;
}

/* OUR LATEST WORKS */
.main__section__works {
  padding: 60px 0 70px 0;
}

.section__works_title {
  text-align: center;
  font-size: 24px;
}

/* clearfix */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.works-images {
  margin-top: 40px;
}

.work {
  float: left;
  margin-left: 100px;
}

/* 4番目〜6番目の要素 */
.work:nth-child(n + 4) {
  margin-top: 80px;
}

.work:nth-child(3n + 1) {
  margin-left: 0;
}

.img_link {
  /* 高さを付与させるためにインライン要素をブロック要素に変更 */
  display: block;
  opacity: 0.7;
  transition: 0.3s;
}

/* ホバー時は0.3秒で不透明にする */
.img_link:hover {
  opacity: 1;
}

.work_img {
  display: block;
}

/* メールフォーム */
.email-form-inner {
  display: flex;
  margin: 90px auto 0 auto;
  width: 730px;
}

.email-form_text_box {
  text-align: center;
  overflow-wrap: break-word;
}

.email-form_text {
  line-height: 1.5em;
}

.email-form_button {
  margin-left: 90px;
}

.button_text {
  /* ソース中の改行を1つの半角スペースとして表示 */
  white-space: nowrap;
  transition: 0.3s;
}

/* ホバー時に0.3秒でcolorを#333 */
.button_text:hover {
  color: #333;
}

/* OUR SKILLS */
.main__section_skills {
  padding: 70px 0 100px 0;
  background-color: #4e4e4e;
}

.main__section_skills-inner {
  text-align: center;
}

.skills-title {
  color: #fff;
  font-size: 24px;
}

.skills {
  margin-top: 70px;
}

.skill-box {
  margin-left: 180px;
}

.skill-box:first-child {
  margin-left: 0;
}

.skill-text {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

/* SNS */
.main__section_sns {
  padding: 200px 0;
}

.main_sns {
  text-align: center;
  font-size: 0;
}

.sns {
  width: 185px;
}

.sns-link {
  /* padding分の高さを認識させるためブロック要素に変更 */
  display: block;
  padding: 30px 0;
  transition: background-color 0.3s linear;
}

.sns-link:hover {
  background-color: #fff;
}

.sns-box {
  color: #74cfae;
  font-size: 40px;
}

/* footer */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.copyright {
  color: #fff;
  text-align: right;
}

/* レスポンシブデザイン（TAB） */
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  /* メインセクション */
  .main__section {
    padding: 50px 0 25px 0;
  }

  .main__section_inner {
    display: block;
  }

  .main__section_textbox {
    margin: 20px auto 0 auto;
  }

  /* OUR LATEST WORK */
  .works-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work {
    margin-left: 0;
  }

  .work:nth-child(n + 4) {
    margin-top: 0;
  }

  .work:nth-child(4n) {
    margin-top: 80px;
  }

  /* メールフォーム */
  .email-form-inner {
    width: 100%;
    display: block;
    margin-top: 80px;
  }

  .email-form_textbox {
    padding-bottom: 40px;
  }

  .email-form_button {
    text-align: center;
    margin: 40px auto 0 auto;
  }

  /* OUR SKILLS */
  .skill-box {
    display: block;
    margin: 88px auto 0;
  }

  .skill-box:first-child {
    margin-top: 0;
  }
}

/* レスポンシブ （SP） */
@media screen and (max-width: 767px) {
  /* ヘッダー */
  .header {
    display: flex;
  }

  .bolt__contactBox {
    display: none;
  }

  .logo {
    font-size: 50px;
  }
  /* ハンバーガーメニュー  */
  .hamburger {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .hamburger span {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 2px;
    background-color: #ddd;
  }

  .hamburger span:nth-of-type(1) {
    top: 10px;
  }

  .hamburger span:nth-of-type(2) {
    top: 20px;
  }

  .hamburger span:nth-of-type(3) {
    top: 30px;
  }

  /* メインテーマ */
  .main {
    padding-top: 80px;
  }

  .main__theme {
    padding: 160px 0 130px 0;
  }

  .bolt-theme {
    font-size: 80px;
  }

  .bolt-subtheme {
    line-height: 1.2;
  }

  /* メールフォーム */
  .form_box {
    font-size: 20px;
    padding: 20px 40px;
  }

  /* WHAT WE CAN DO */
  .main__section_textbox {
    width: auto;
  }

  /* SNS */
  .main__section_sns {
    padding: 50px 0;
  }

  .sns {
    width: 100%;
  }
}
